<ul>
    <li *ngFor="let node of contacts">
        <button (click)="hide(node)" [disabled]="node.type == 'Contact'" [class.disabled]="node.type == 'Contact'">
            {{node.name}}
        </button>
        <div *ngIf="hideMe[node.id]">
            <app-tree-view [contacts]="node.contacts"></app-tree-view>
        </div>

    </li>
</ul>
