ul {
  list-style: none;
  padding: 20px 0px 0px 10px;
  display: inline-block;
  width: 400px;
  &:first-of-type {
    padding-top: 0px;
  }
  li {
    margin-bottom: 10px;
    margin-top: 10px;
    &:last-of-type {
      margin-bottom: 0px;
    }
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 20px;
      text-align: left;
      color: black;
      width: 100%;
      &:hover {
        background-color: #add8e6;
      }
      &.disabled {
        cursor: none;
      }
    }
  }
}